@charset "UTF-8";

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

h1, h2, h3 {
	text-align: center;
}

ul {
	margin: 0;
	padding: 0;
	width: 100%;
}

li {
	display: inline;
	padding-left: 3%;
}

#p1 {
	margin: 0;
	text-align: center;
}

#p2 {
	font-size: 110%;
	margin: 0;
	text-align: center;
	color: white;
}

header {
	background-color: blue;
}

nav {
	background-color: aqua;
}

footer {
	background-color: blue;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}

div {
	margin-top: 15px;
	text-align: center;
}

table {
	margin: auto;
	text-align: center;
}