@charset "UTF-8";

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}
h1, h2, h3{
	text-align: center;
}
ul {
	margin: 0;
	padding: 0;
	width: 100%; 
}
li {
	display: inline;
	text-align: left;
	padding: 8px;
}
header{
	background-color: silver;
	padding: 15px;
}
nav{
	background-color: gray;
	padding: 5px;
}
footer{
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 8px;
	background-color: silver;
}
table{
	margin: auto;
}
div{
	text-align: center;
}